<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ubicanos</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
              <img src="assets/logo.png" alt="Logo Empresa" width="70" height="70">
              <span style="color: rgb(255, 255, 255)"> Empresa</span>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse collapse show" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" href="#inicio" style="color: rgb(255, 255, 255)">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#ubicanos" style="color: rgb(255, 255, 255)">Ubícanos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contactanos" style="color: rgb(255, 255, 255)">Contáctanos</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <br><br>
    <section id="portada" class="text-center mb-4">
        <h1 class="display-4" style="color: rgb(255, 255, 255)">¡Visítanos en nuestra sede!</h1>
        <div id="overlay"></div>
    </section>
    <main class="container my-5">
        <section id="mapa" class="mb-5 text-center">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15135.962442472388!2d-70.2915625!3d-18.4840845!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x915aa997e88ae0e3%3A0x3d94d0eaeff916ef!2sCFT%20Estatal%20Arica%20y%20Parinacota!5e0!3m2!1ses-419!2scl!4v1729813920113!5m2!1ses-419!2scl" allowfullscreen loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
    </main>

    <div class="container">
        <div class="row">
            <h1 class="text-center mb-3" style="color: rgb(255, 255, 255)">Contacto</h1>
            <div class="form-group">
                <form>
                    <div class="mb-2">
                        <label for="nombre" class="form-label" style="color: rgb(255, 255, 255)">Nombre</label>
                        <input type="text" class="form-control"
                        formControlName="nombre" id="nombre" 
                        aria-describedby="nombreHelp"
                        placeholder="Ingrese Nombre">
                    </div>
                </form>
            </div>
            <div class="form-group">
                <form>
                    <div class="mb-2">
                        <label for="apellido" class="form-label" style="color: rgb(255, 255, 255)">Apellido</label>
                        <input type="text" class="form-control"
                        formControlName="apellido" id="apellido" 
                        aria-describedby="apellidoHelp"
                        placeholder="Ingrese Apellido">
                    </div>
                    
                </form>
            </div>
            <div class="form-group">
                <form>
                    <div class="mb-2">
                        <label for="mensaje" class="form-label" style="color: rgb(255, 255, 255)">Mensaje</label>
                        <textarea class="form-control" id="mensaje" name="mensaje" rows="3" required=""
                        formControlName="mensaje"
                        aria-describedby="mensajeHelp"
                        placeholder="Ingrese su problema" 
                        ></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
        </div>
    </div><br>
    <footer class="bg-white text-dark text-center py-3">
        <div class="container">
            <img src="assets/logo.png" alt="Logo Empresa" width="40" height="40">
            <p class="mb-0">Empresa | Contacto: +56942072004</p>
        </div>
    </footer>
</body>
</html>

